.ooo {
    text-align: center;
}

.kkk {
    font-size: large;
    font-family: Impact;
}

.aaa {
    width: 11%;
    height: 100%;
    background-color: #1B54DD;
    color: aliceblue;
    border: none;
    border-radius: 3%;
    text-align: center;
}

.ppp {
    text-align: center;
    margin-left: 4%;
    margin-top: 3%;

}

.xxx {
    width: 33%;
    height: 3000%;
    margin-left: 36%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.www {
    text-align: center;
    margin-top: 3%;
}

.yyy {
    height: 15000%;
    width: 49%;
    background-color: #e8e8e8;
    margin-left: 1000000%;
    margin-top: 10%;
}

.vvv {
    margin-top: -8%;
    text-align: center;
}